reading file

In [ ]:
 Mini Project - Stock-Prices
Batch: Data Analytics & Data Science
Estimated Duration: 2 Days
Computer Quiz Game
Problem Statement:
LOAD
1. Use Pandas to load the data into a data frame. Display the data in the Data Frame.
2. How many non-null values exist for each column and what each column’s type is?
3. Find the number of rows and columns using the shape property and the len( ) function.
4. Display the first and last 10 rows.
ACCESS
5. Show the Company column.
6. Show the columns named Company and Industry in a Data Frame.
7. Present the information for the row that has the symbol AAPL.
8. Show the Exchange for the row with the Symbol AAPL.
FILTER
9. Sort (and show) the data by Industry, the Company.
10. Show the rows where Industry is Information Technology.
MISSING
11. Show the rows where Notes has a value (other than missing).
DROPPING
12. Create and display a Data Frame from the full Data Frame but excluding the Notes 
column.
JOIN
13. The file Stock-Prices.csv has additional data, including Symbols and Prices. Use join() to 
augment the Data Frame with the Price data.
Points:
Successful executable code: 20 MARKS
Presentation (online/offline): Additional 10 
Submission: Code in Jupiter Notebook, Report

In [2]:
import pandas as pd
df=pd.read_csv('C:\\Users\\hp\\Desktop\\da\\projects\\stock project\\stocks.csv')
df

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
1,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,NaN,6.54%
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,NaN,6.24%
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,NaN,4.47%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,NaN,3.12%
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,NaN,2.95%
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,NaN,4.49%
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,NaN,1.49%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%

In [5]:
# How many non-null values exist for each column and what each column’s type is?
df.isnull().sum()

Symbol              0
Company             0
Exchange            0
Industry            0
Date added          0
Notes              26
Index weighting     0
dtype: int64

In [20]:
df.dtypes

Symbol             object
Company            object
Exchange           object
Industry           object
Date added         object
Notes              object
Index weighting    object
dtype: object

In [8]:
#Find the number of rows and columns using the shape property and the len( ) function.
a=df.shape
a

(30, 7)

In [13]:
len(df)

30

In [11]:
#Display the first and last 10 rows.
df.head(10)

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
1,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%

In [12]:
df.tail(10)

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%

In [15]:
# Show the Company column.
df['Company']

0                           3M
1             American Express
2                        Amgen
3                   Apple Inc.
4                       Boeing
5             Caterpillar Inc.
6          Chevron Corporation
7                Cisco Systems
8        The Coca-Cola Company
9                     Dow Inc.
10               Goldman Sachs
11              The Home Depot
12                   Honeywell
13                         IBM
14                       Intel
15           Johnson & Johnson
16              JPMorgan Chase
17                  McDonald's
18                 Merck & Co.
19                   Microsoft
20                  Nike, Inc.
21            Procter & Gamble
22                  Salesforce
23     The Travelers Companies
24          UnitedHealth Group
25      Verizon Communications
26                   Visa Inc.
27    Walgreens Boots Alliance
28                     Walmart
29     The Walt Disney Company
Name: Company, dtype: object

In [19]:
df[['Company','Industry']]

                     Company                        Industry
0                         3M                    Conglomerate
1           American Express              Financial services
2                      Amgen         Pharmaceutical industry
3                 Apple Inc.          Information technology
4                     Boeing           Aerospace and defense
5           Caterpillar Inc.         Construction and Mining
6        Chevron Corporation              Petroleum industry
7              Cisco Systems          Information technology
8      The Coca-Cola Company                   Food industry
9                   Dow Inc.               Chemical industry
10             Goldman Sachs              Financial services
11            The Home Depot                       Retailing
12                 Honeywell                    Conglomerate
13                       IBM          Information technology
14                     Intel          Information technology
15         Johnson & Johnson         Pharmaceutical industry
16            JPMorgan Chase              Financial services
17                McDonald's                   Food industry
18               Merck & Co.         Pharmaceutical industry
19                 Microsoft          Information technology
20                Nike, Inc.                         Apparel
21          Procter & Gamble      Fast-moving consumer goods
22                Salesforce          Information technology
23   The Travelers Companies              Financial services
24        UnitedHealth Group             Managed health care
25    Verizon Communications               Telecommunication
26                 Visa Inc.              Financial services
27  Walgreens Boots Alliance                       Retailing
28                   Walmart                       Retailing
29   The Walt Disney Company  Broadcasting and entertainment

In [50]:
df[df['Symbol'] == 'AAPL']

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%

In [22]:
#Show the Exchange for the row with the Symbol AAPL.
df[df['Symbol'] == 'AAPL']["Exchange"]

3    NASDAQ
Name: Exchange, dtype: object

In [30]:
#Sort (and show) the data by Industry, the Company.
df.sort_values(by=['Industry', 'Company'], ascending=[True,True])

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,NaN,4.47%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%
1,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,NaN,6.54%
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,NaN,2.95%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,NaN,4.49%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,NaN,3.12%
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,NaN,1.49%
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,NaN,6.24%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%

In [31]:
#Show the rows where Industry is Information Technology.
df[df['Industry'] == 'Information technology']

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%

In [32]:
#11. Show the rows where Notes has a value (other than missing).
df[df['Notes'].notna()]

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%

In [45]:
#Create and display a Data Frame from the full Data Frame but excluding the Notes col
df.drop('Notes',axis = 1)

,Symbol,Company,Exchange,Industry,Date added,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,3.84%
1,AXP,American Express,NYSE,Financial services,1982-08-30,2.88%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,4.87%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,2.57%
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,4.92%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,4.54%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,2.03%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,1.00%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,1.04%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,1.25%
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,6.54%
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,6.24%
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,4.47%
13,IBM,IBM,NYSE,Information technology,1979-06-29,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,1.25%
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,3.12%
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,2.95%
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,4.49%
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,1.49%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,4.98%
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,2.58%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,2.64%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,4.45%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,3.03%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,7.33%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,1.13%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,4.33%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,2.72%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,3.66%

#The file Stock-Prices.csv has additional data, including Symbols and Prices. Use join() to 
augment the Data Frame with the Price data.

In [46]:
import pandas as pd
df1=pd.read_csv('C:\\Users\\hp\\Desktop\\da\\projects\\stock project\\Stock-Prices.csv')
df1

   Symbol   Price
0     MMM  223.34
1     AXP  176.22
2    AMGN  262.12
3    AAPL  137.07
4      BA  271.76
5     CAT  265.12
6     CVX  114.33
7    CSCO   58.23
8      KO   60.89
9     DOW   75.30
10     GS  409.46
11     HD  350.93
12    HON  254.53
13    IBM  158.39
14   INTC   62.89
15    JNJ  186.34
16    JPM  180.62
17    MCD  257.24
18    MRK   14.08
19   MSFT  274.81
20    NKE  150.11
21     PG  148.39
22    CRM  261.25
23    TRV  175.67
24    UNH  453.73
25     VZ   62.15
26      V  250.25
27    WBA   58.03
28    WMT  156.22
29    DIS  196.66

In [47]:
a=pd.merge(df,df1,how='outer')
a

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting,Price
0,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%,137.07
1,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%,262.12
2,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%,176.22
3,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%,271.76
4,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%,265.12
5,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%,261.25
6,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%,58.23
7,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%,114.33
8,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%,196.66
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%,75.30
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,NaN,6.54%,409.46
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,NaN,6.24%,350.93
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,NaN,4.47%,254.53
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%,158.39
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%,62.89
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,NaN,3.12%,186.34
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,NaN,2.95%,180.62
17,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%,60.89
18,MCD,McDonald's,NYSE,Food industry,1985-10-30,NaN,4.49%,257.24
19,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%,223.34
20,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,NaN,1.49%,14.08
21,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%,274.81
22,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%,150.11
23,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%,148.39
24,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%,175.67
25,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%,453.73
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%,250.25
27,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%,62.15
28,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%,58.03
29,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%,156.22